{{! BEGIN-SNIPPET advanced-usage-button-1 }}
<StripeCheckout
  @name="Sweet Tooth"
  @description="Description 1"
  @amount={{2500}}
  @label="Subscribe $25"
  @panelLabel="Subscribe for 2500/mo"
  @onToken={{fn this.handleToken 2500}}
  @onOpened={{this.checkoutOpened}}
  @onClosed={{this.checkoutClosed}}
/>
{{! END-SNIPPET }}

{{! BEGIN-SNIPPET advanced-usage-button-2 }}
<StripeCheckout
  @name="Sweet Tooth"
  @description="Description 2"
  @amount={{3000}}
  @label="Subscribe $30"
  @panelLabel="Subscribe for 3000/mo"
  @onToken={{fn this.handleToken 3000}}
  @onOpened={{this.checkoutOpened}}
  @onClosed={{this.checkoutClosed}}
/>
{{! END-SNIPPET }}

{{! BEGIN-SNIPPET advanced-usage-button-3 }}
<StripeCheckout
  @name="Sweet Tooth"
  @description="Disabled"
  @amount={{3500}}
  @label="Subscribe $35"
  @panelLabel="Subscribe for 3500/mo"
  @isDisabled={{true}}
  @onToken={{fn this.handleToken 3500}}
  @onOpened={{this.checkoutOpened}}
  @onClosed={{this.checkoutClosed}}
/>
{{! END-SNIPPET }}

{{! <h2>Advanced usage</h2>
<p>
  You can render as many <b>stripe-checkout</b> components on a page as you wish.
</p>
<p>
  You can also bind a value to <b>isDisabled</b> to disable/enable the checkout button
  dynamically.
  <CodeSnippet @name="advanced-usage-button-3.hbs" />

  Handling the actions is pretty straight-forward
  <CodeSnippet @name="advanced-usage-actions.js" />
</p> }}